/* h1, #id-characters {
  text-align: left;

  margin: auto;
}

main {
  display: flex;
  
  justify-content: center;
 
}

.arrays {
  

  text-align: center;
  width: 50%;
}

.objects {
  text-align: center;
  width: 50%;
} */